<p style="color: green"><%= notice %></p>

<%= render @schedule %>

<div>
  <%= link_to "Edit this schedule", edit_schedule_path(@schedule) %> |
  <a href="/tutor_schedules?tutor_id=<%=@schedule.tutor_id%>">Back to schedules</a>
  <%= button_to "Destroy this schedule", @schedule, method: :delete %>

</div>
